@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    color: rgb(230, 149, 29);
    text-decoration: none;
}
.hero-img{
    width: 700px;
    height: auto;
    box-sizing: border-box;
    border: rgb(230, 149, 29) 2px solid;
    border-radius: 20px;
}

.logo{
    width: 150px;
    height: auto;
}
.header,
.hero {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 10px 200px;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-nav ul{
    display: flex;
    gap: 25px;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 150px;
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-p {
    font-size: 18px;
    color: #E5E7EB
}

.hero-left {
    width: 600px;
}

.signup {
    padding: 7px 30px;
    background-color: #3882F6;
    border-radius: 9px;
    border: none;
    color: white;
}


