@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

a {
    color: rgb(230, 149, 29);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 15px 600px;
    height: 600px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main-nav ul{
    display: flex;
    gap: 25px;
}